<!-- footer -->
<footer class="w-full bg-white px-6 border-t">
  <div class="container mx-auto max-w-4xl py-6 flex flex-wrap md:flex-no-wrap justify-between items-center text-sm">
    &copy;2019 Food Sonic. All rights reserved.
  </div>
</footer>
<!-- /footer -->